// Include workflow parameters
includeConfig "./config/params.config"

// Include workflow profiles
includeConfig "./config/profiles.config"

// Include default parameters and process configs
// Edit this file for general parameters
includeConfig "./config/default.config"

// Include technology [nanopore, illumina] specific parameters and process configs
  
includeConfig "./config/${params.technology}.config"

/*****************************************************************************
********************** Workflow Resource Usage Capturing *********************
******************************************************************************/

// Adapted from : https://github.com/nf-core/rnaseq/blob/master/nextflow.config
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "../Resource_Usage/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "../Resource_Usage/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "../Resource_Usage/execution_trace_${trace_timestamp}.txt"
}


/******************************************************************************
**************************** Workflow Metadata ********************************
*******************************************************************************/

manifest {
    author = 'Olabiyi Aderemi Obayomi'
    homePage = 'https://github.com/nasa/GeneLab_Metagenomics_Workflow/'
    description = 'Metagenomics workflow for pipeline documents GL-DPPD-7107-B, GL-DPPD-7116, and GL-DPPD-7117'
    mainScript = 'main.nf'
    defaultBranch = 'DEV'
    nextflowVersion = '24.10.5-0'
    version = '1.0.0-beta'
}
