
/******************************************************************************************************************
***************** Tune process specific resources (cpu, container, memory etc.) ***********************************
*******************************************************************************************************************/

process {

//*********************************************** Base calling and demultiplexing **********************************************//
    // PROCESS: DORADO_BASECALLER, DORADO_DEMUX 
    withLabel: dorado {
                  clusterOptions = "--nodelist=my_gpu_node" // gpu node -- update with name of local gpu node
                  cpus           = 10
                  memory         = "100 GB"
                  conda          = {params.conda_dorado ? params.conda_dorado : "${projectDir}/envs/dorado.yaml"}
                  container      = "quay.io/staphb/dorado:1.4.0-cuda12.2.0"
            }


//******************************************** Read quality control and assessment *******************************************//
    
    withName: NANOPLOT {
                  conda     = {params.conda_nanoplot ? params.conda_nanoplot : "${projectDir}/envs/nanoplot.yaml"}
                  container = "quay.io/biocontainers/nanoplot:1.46.2--pyhdfd78af_1"
            }

   withName: FILTLONG {

                  conda      = {params.conda_filtlong ? params.conda_filtlong: "${projectDir}/envs/filtlong.yaml"}
                  container  = "quay.io/biocontainers/filtlong:0.3.1--h077b44d_0"
                  publishDir = [[path: "${params.filtered_dir}/Fastq/", pattern: "*.fastq.gz" , mode: params.publishDir_mode],
                                [path: "${params.logs_dir}/Filtlong/", pattern: "*-filtlong.log" , mode: params.publishDir_mode]]
            }

  withName: PORECHOP {
                  conda      = {params.conda_porechop ? params.conda_porechop: "${projectDir}/envs/porechop.yaml"}
                  container  = "quay.io/biocontainers/porechop:0.2.4--py311he264feb_9"
                  memory     = "60 GB"
                  publishDir = [[path: "${params.trimmed_dir}/Fastq/", pattern: "*.fastq.gz" , mode: params.publishDir_mode],
                                [path: "${params.logs_dir}/PoreChop/", pattern: "*-porechop.log" , mode: params.publishDir_mode]]
            }

//******************************************* Remove contaminant ********************************************************//
    withName: NANO_REMOVE_CONTAMINANT {
                  memory     = "20 GB"
                  publishDir = [path: "${params.decontaminated_dir}/Fastq/", mode: params.publishDir_mode, pattern: "*.fastq.gz"]
            }

    // PROCESS: LONG_MAPPING, BUILD_CONTAMINANT_INDEX, MAPPING_TO_CONTAMINANT
    withLabel: minimap2 {
                  container =  "quay.io/biocontainers/minimap2:2.30--h577a1d6_0"
                  conda     = {params.conda_minimap2 ? params.conda_minimap2 : "${projectDir}/envs/minimap2.yaml"}
                  cpus      = 8
                  memory    = "20 GB"
            }


//*************************************** Assembly-based processing **************************************************//
    // PROCESS: FLYE 
    withLabel: flye {
                  conda     = {params.conda_flye ? params.conda_flye : "${projectDir}/envs/flye.yaml"}
                  container = "quay.io/biocontainers/flye:2.9.6--py310h275bdba_0"
                  cpus      = 8
                  memory    = "100 GB"
            }

    withName: POLISH_ASSEMBLY {
                  conda      = {params.conda_medaka ? params.conda_medaka : "${projectDir}/envs/medaka.yaml"}
                  container  = "quay.io/biocontainers/medaka:2.2.0--py312h3050eb1_1"
                  cpus       = 8
                  memory     = "60 GB"
                  publishDir = [path: "${params.logs_dir}/Medaka/", pattern: "*-assembly.log", mode: params.publishDir_mode]
            }


//***************************************** Output file locations *****************************************************//
      // Merged/Raw: CAT_FASTQ_FILES and CAT_FASTQ_DIR
      withName: "nanopore:CAT_FASTQ_.*" {
                  publishDir = [path: "${params.merged_dir}/Fastq/", mode: params.publishDir_mode, pattern: "*fastq.gz"]
            }

      withName: "nanopore:raw_qc:NANOPLOT" {
                  publishDir = [path: "${params.merged_dir}/NanoPlots/", mode: params.publishDir_mode, pattern: "*.html"]
            }

      withName: "nanopore:raw_qc:MULTIQC" {
                  publishDir = [path: "${params.merged_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
            }


      withName: "nanopore:raw_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.merged_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
           }


      // Filtered
      withName: "nanopore:filtered_qc:NANOPLOT" {
                  publishDir = [path: "${params.filtered_dir}/NanoPlots/", mode: params.publishDir_mode, pattern: "*.html"]
           }


      withName: "nanopore:filtered_qc:MULTIQC" {
                  publishDir = [path: "${params.filtered_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
          }


      withName: "nanopore:filtered_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.filtered_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
          }


      // Trimmed
      withName: "nanopore:trimmed_qc:NANOPLOT" {
                 publishDir = [path: "${params.trimmed_dir}/NanoPlots/", mode: params.publishDir_mode, pattern: "*.html"]
          }


      withName: "nanopore:trimmed_qc:MULTIQC" {
                 publishDir = [path: "${params.trimmed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
          }


      withName: "nanopore:trimmed_qc:ZIP_MULTIQC" {
                publishDir = [path: "${params.trimmed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
          }


      // Human removed
      withName: "nanopore:remove_human:REMOVE_HOST" {
                memory     = "30 GB"
                publishDir = [path: "${params.human_removed_dir}/Fastq/", mode: params.publishDir_mode, pattern: "*.fastq.gz"]
          }

      withName: "nanopore:nohum_qc:NANOPLOT" {
                publishDir = [path: "${params.human_removed_dir}/NanoPlots/", mode: params.publishDir_mode, pattern: "*.html"]
         }


      withName: "nanopore:nohum_qc:MULTIQC" {
                  publishDir = [path: "${params.human_removed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
         }


      withName: "nanopore:nohum_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.human_removed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
         }


      // Contaminants (Negative control) removed
      withName: "nanopore:noblank_qc:NANOPLOT" {
                 publishDir = [path: "${params.decontaminated_dir}/NanoPlots/", mode: params.publishDir_mode, pattern: "*.html"]
         }       


      withName: "nanopore:noblank_qc:MULTIQC" {
                  publishDir = [path: "${params.decontaminated_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
         }


      withName: "nanopore:noblank_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.decontaminated_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
         }


      // Host read removal
      withName: "nanopore:remove_host:REMOVE_HOST" {
             publishDir = [path:  "${params.human_removed_dir}/Fastq/", mode: params.publishDir_mode, pattern: "*.fastq.gz"]
        }


      withName: "nanopore:nohost_qc:NANOPLOT" {
             publishDir = [path: "${params.human_removed_dir}/NanoPlots/", mode: params.publishDir_mode, pattern: "*.html"]
        }

      withName: "nanopore:nohost_qc:MULTIQC" {
                  publishDir = [path: "${params.human_removed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
        }

    withName: "nanopore:nohost_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.human_removed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
       }



}
