//********************************* Global parameters *************************************************//
params {

    technology   = "illumina" // ["illumina", "nanopore"]
    sample_type  = null // ["standard", "low_biomass"]

    // Input file
    // Sample metadata file with sample names matching file paths and sample metadata
    input_file   = null // ["PE.csv", "SE.csv", "single.csv", "multiple.csv" and "input_dir_barcodes.csv"]

    // ---- Nanopore specific input parameters ----------- // 
    // Only relevant when --technology is "nanopore"
    input_type   = null // ["single", "multiple", "directory"]
    // A directory containing input raw pod5 files to demultiplex 
    input_dir    = null // "/path/to/directory/containing/pod5/files"
    // Nanopore kit name
    kit_name     =  null // "SQK-RPB114-24"
 
    /* Run assembly-based workflow, read-based, or both
      (values need to be one of: "assembly-based", "read-based", or "both")
      It runs both by default
    */
    workflow     = "both"

   
    //-------------------------- Directories ----------------------------------//

    // Raw reads directory (can be relative to workflow directory, or needs to be full paths)
    merged_dir              = "../Merged_Sequence_Data/"
    // Output directories (all relative to processing directory, will be created)
    filtered_dir            = "../Filtered_Sequence_Data/"
    trimmed_dir             = "../Trimmed_Sequence_Data/"
    human_removed_dir       = "../HR-removed_Sequence_Data/"
    decontaminated_dir      = "../Decontaminated_Sequence_Data/"
    host_removed_dir        = "../HostRm-removed_Sequence_Data/"
    assembly_based_dir      = "../Assembly-based_Processing/"
    read_based_dir          = "../Read-based_Processing/"
    genelab_dir             = "../GeneLab/"
    logs_dir                = "../Logs/"
    metadata_dir            = "../Metadata/" 

    //************************* Databases **********************************//
    CAT_DB_LINK      = "https://tbb.bio.uu.nl/bastiaan/CAT_prepare/CAT_prepare_20210107.tar.gz"
    GTDBTK_LINK      = "https://data.gtdb.ecogenomic.org/releases/latest/auxillary_files/gtdbtk_package/full_package/gtdbtk_data.tar.gz"
    cat_db           = null // "/path/to/Reference_DBs/CAT_prepare_20210107/"
    ko_db_dir        = null // "/path/to/Reference_DBs/kofamscan_db/"
    // Metaphlan database index name from here: http://cmprod1.cibio.unitn.it/biobakery4/metaphlan_databases/bowtie2_indexes/
    metaphlan_index  = "mpa_vJun23_CHOCOPhlAnSGB_202307"
    metaphlan_db_dir = null // "/path/to/Reference_DBs/metaphlan4-db/"
    chocophlan_dir   = null // "/path/to/Reference_DBs/humann3-db/chocophlan/"
    uniref_dir       = null // "/path/to/Reference_DBs/humann3-db/uniref/"
    utilities_dir    = null // "/path/to/Reference_DBs/humann3-db/utility_mapping/"
    gtdbtk_db_dir    = null // "/path/to/Reference_DBs/GTDB-tk-ref-db/"
    host_db_dir      = null // "/path/to/Reference_DBs/kraken2-host-db/"
    human_db_url     = "https://zenodo.org/records/8339732/files/k2_HPRC_20230810.tar.gz?download=1" 
    human_db_dir     = null // "/path/to/Reference_DBs/kraken2-human-db/"
    krakendb_url     = "https://genome-idx.s3.amazonaws.com/kraken/k2_pluspfp_20260226.tar.gz"
    krakendb_dir     = null // "/path/to/Reference_DBs/kraken2_pluspfp_20250714/"
    kaijudb_name     = "nr_euk" // nr, nr_euk, refseq, refseq_nr, refseq_ref, progenomes, fungi, viruses, plasmids, rvdb
    kaijudb_dir      = null // "/path/to/Reference_DBs/kaiju_nr_euk_20250422/"
    custom_genome   = null // "/path/to/custom_genome.fna"
    

    //----------- Host removal parameters
    // build database using the supplied host name
    host_name  = null // "human"
    // Download tar.gz file of database from the supplied url
    // Prebuilt kraken databases can be found here https://benlangmead.github.io/aws-indexes/k2
    host_url   = null // "https://zenodo.org/records/8339700/files/k2_Human_20230629.tar.gz?download=1"
    // Build a custom database using the supplied sequence(s) 
    host_fasta = null // "/path/to/host_sequences.fasta" 

    // Assembly parameter
    max_mem        = 100e9 // 100GB

    // Binning parameter
    reduced_tree   = "True"

    // Annotation parameters
    pileup_mem     = "5g" // pileup.sh parameter for calculating contig coverage and depth
    block_size     = 4  // CAT blocksize

    //********************  CAT database directory strings ************************//
    // The strings below will be added to the end of the "cat_db" parameter provided above
    // cat taxonomy directory with cat_db path provided above
    cat_taxonomy_dir = "2021-01-07_taxonomy/"     // "2024-12-12_taxonomy/"
    cat_db_sub_dir   = "2021-01-07_CAT_database/" // "2024-12-12_CAT_database/"

    // MAG parameters
    min_est_comp       = 90  // Minimum estimated completeness
    max_est_redund     = 10  // Maximum estimated redundancy
    max_est_strain_het = 50  // Maximum estimated strain heterogeneity

    // Decontam parameters
    decontam_threshold = 0.5 // Decontam's threshold between 0.0 and 1.0 for both prevalence and frequency based analyses.
    
    /*
    Scratch directory for gtdb-tk, if wanting to use disk space instead of RAM, can be memory intensive;
    see https://ecogenomics.github.io/GTDBTk/faq.html#gtdb-tk-reaches-the-memory-limit-pplacer-crashes
    leave empty if wanting to use memory, the default, put in quotes the path to a directory that 
    already exists if wanting to use disk space
    */
    use_gtdbtk_scratch_location = false


    // Specify paths to existing conda environments

    // illumina [bowtie2, fastp, fastqc, megahit]  
    // nanopore [dorado, filtlong, flye, nanoplot, pod5, porechop]
    conda_bbmap           = null          // "/path/to/envs/bbmap"
    conda_bit             = null          // "/path/to/envs/bit"
    conda_bowtie2         = null          // "/path/to/envs/bowtie2"
    conda_cat             = null          // "/path/to/envs/genelab-utils/envs/CAT"
    conda_checkm          = null          // "/path/to/envs/checkm"
    conda_dorado          = null          // "/path/to/envs/dorado"
    conda_fastp           = null          // "/path/to/envs/fastp"
    conda_fastqc          = null          // "/path/to/envs/fastqc"
    conda_filtlong        = null          // "/path/to/envs/filtlong"
    conda_flye            = null          // "/path/to/envs/flye"
    conda_genelab         = null          // "/path/to/envs/genelab-utils"
    conda_gtdbtk          = null          // "/path/to/envs/gtdbtk"
    conda_humann3         = null          // "/path/to/envs/humann3"
    conda_kaiju           = null          // "/path/to/envs/kaiju"
    conda_kegg_decoder    = null          // "/path/to/envs/kegg_decoder"
    conda_kofamscan       = null          // "/path/to/envs/kofamscan"
    conda_kraken2         = null          // "/path/to/envs/kraken2"
    conda_krakentools     = null          // "/path/to/envs/krakentools" // For KRAKEN2KRONA
    conda_krona           = null          // "/path/to/envs/krona"
    conda_medaka          = null          // "/path/to/envs/medaka"
    conda_megahit         = null          // "/path/to/envs/megahit"
    conda_metabat         = null          // "/path/to/envs/metabat"
    conda_minimap2        = null          // "/path/to/envs/minimap2"
    conda_multiqc         = null          // "/path/to/envs/multiqc"
    conda_nanoplot        = null          // "/path/to/envs/nanoplot"
    conda_pavian          = null          // "/path/to/envs/pavian"
    conda_porechop        = null          // "/path/to/envs/porechop"
    conda_prodigal        = null          // "/path/to/envs/prodigal"
    conda_rvis            = null          // "/path/to/envs/R_vis"
    conda_samtools        = null          // "/path/to/envs/samtools"
    conda_spades          = null          // "/path/to/envs/spades"
    conda_zip             = null          // "/path/to/envs/zip"


    multiqc_config     = "${projectDir}/config/multiqc.config" // multiqc config file

    publishDir_mode    = "link" // "copy", "link", "symlink"	
    assay_suffix       = "" //  ["_GLmetagenomics", "_GLlbsMetag", "_GLlblMetag"]
    // Additional prefix to add to output files that describe more than one sample (to make them unique compared to other datasets) 
    // leave as empty, i.e. "", if not wanted, include separator at end if adding one, e.g. "Swift1S_"
    additional_filename_prefix = "" 
    accession          = null // GLDS or OSD accession number for the data to be processed
    // Pattern of files on OSDR for the GLDS_accession you want to process.
    RawFilePattern     = null // "_metaG", "_HRremoved"
    errorStrategy      = "terminate" // nextflow's error handling strategy
    debug              = false // should info about the parameters set by the user be shown when the workflow starts.
}

// Setting the default container engine to singularity
params.containerEngine = "singularity"
// Conda shouldn't be used by default except when using conda-based profiles
params.use_conda = false

/* 
    Root directory where the databases will be downloaded if they don't exist.
    This should be provided as a full path (starting with '/').
    Note that relative paths such as '~/' and '../' are not expanded
    by nextflow's evaluation of files, so don't use those.
*/ 
params.DB_ROOT = "${launchDir.getParent()}/Reference_DBs"

// Mount Humann databases to their predefined locations in the Biobakery container being used
if(params.chocophlan_dir == null || params.uniref_dir == null || params.metaphlan_db_dir == null || params.utilities_dir == null) {

    utilities = "${params.DB_ROOT}/humann3-db/utility_mapping/:/usr/local/lib/python3.6/dist-packages/humann/data/misc"

}else{

    utilities = "${params.utilities_dir}:/usr/local/lib/python3.6/dist-packages/humann/data/misc"
}

