 //******** Global parameters *****************//
params {

    technology          =  null // ["Illumina", "nanopore"]
    sample_type         =  null // ["standard", "low_biomass"] 
    publishDir_mode     = "link" // "copy", "link", "symlink"
    //-------- Parmeters used to generate README.txt  ------------------//
    name                = "FirstName M. LastName"  // name of analyst
    email               = "name@nasa.gov" // email of analyst
    protocol_id         = "GL-DPPD-7107-B"  // Genelab pipeline document protocol id followed [GL-DPPD-7107-B, GL-DPPD-7116, GL-DPPD-7117]
    glds_accession      = null // e.g. "GLDS-574" //or any string
    osd_accession       = null // e.g. "OSD-574" or any string
    assay_suffix        = "" //  One of '_GLmetagenomics', '_GLlbsMetag', '_GLlblMetag', and '_GLlongMetag'
    output_prefix       = ""
    v_v_guidelines_link = "https://genelab-tools.arc.nasa.gov/confluence/pages/viewpage.action?pageId=8225175"
    genome              = "(GCF_000001405.39) GRCh38.p13" // kraken2 human genome reference used to remove human reads
    host_removed        = false // was an additional host's reads removed beside human reads?
    single_end          = false // are the illumina reads single ended?
    concated            = false // were the nanopore reads concated before processing 
    
    
    //  processing_zip_file and files in it
    processing_zip_file = "processing_info${params.assay_suffix}.zip"
    runsheet            = null // "../GeneLab/GLfile.csv" or "PE_file.csv" actual path (absolute or relative) is required here
    run_command         = "processing_scripts/command.txt"
    processing_commands = "processing_scripts/nextflow_processing_info.txt" 
    software_versions   = "../Metadata/software_versions.txt"

    // Suffixes
    raw_suffix          = "_HRremoved_raw${params.assay_suffix}.fastq.gz"
    raw_R1_suffix       = "_R1_HRremoved_raw${params.assay_suffix}.fastq.gz"
    raw_R2_suffix       = "_R2_HRremoved_raw${params.assay_suffix}.fastq.gz"
    filtered_suffix     = "_filtered${params.assay_suffix}.fastq.gz"
    filtered_R1_suffix  = "_R1_filtered${params.assay_suffix}.fastq.gz"
    filtered_R2_suffix  = "_R2_filtered${params.assay_suffix}.fastq.gz"
    trimmed_suffix      = "_trimmed${params.assay_suffix}.fastq.gz"
    human_suffix        = "_HRrm${params.assay_suffix}.fastq.gz"
    decontam_suffix     = "_decontam${params.assay_suffix}.fastq.gz"
    decontam_R1_suffix  = "_R1_decontam${params.assay_suffix}.fastq.gz"
    decontam_R2_suffix  = "_R1_decontam${params.assay_suffix}.fastq.gz"
    host_suffix         = "_HostRm${params.assay_suffix}.fastq.gz"
    host_R1_suffix      = "_R1_HostRm${params.assay_suffix}.fastq.gz"
    host_R2_suffix      = "_R1_HostRm${params.assay_suffix}.fastq.gz"

     // --------------------------- files --------------------------------- //   
     // You only need to supply one of assay_table or isa_zip
     // If you supply both it will use only the assay_table
     assay_table       = null // "../GeneLab/a_OSD-574_metagenomic-sequencing_whole-genome-shotgun-sequencing_illumina.txt"
     isa_zip           = null // "../GeneLab/OSD-574_metadata_OSD-574-ISA.zip"
     // MultiQC zip files
     raw_zip           = null // "[raw|HRrm]_multiqc{args.assay_suffix}_data.zip"
     filtered_zip      = "filtered_multiqc{args.assay_suffix}_data.zip"
     trimmed_zip       = null // "trimmed_multiqc{args.assay_suffix}_data.zip"
     human_zip         = null // "HRrm_multiqc{args.assay_suffix}_data.zip"
     decontam_zip      = null // "decontam_multiqc{args.assay_suffix}_data.zip"
     host_zip          = null // "HostRM_multiqc{args.assay_suffix}_data.zip"    
     
     human_summary = null // "human_removed_summary.tsv"


    //------------------------------ Directories -------------------------------------//
    // Make sure you always end the directory names with a forward slash "/" and that if you use
    // relative paths, they are located in the run directory (./) or in its parent (../)
    processing_dir            = ".." // Directory where processing outputs were published
    output_dir                = "../Post_Processing/"
    templates                 = "${projectDir}/templates/" // jinja tempates for protocol generation

    
    //Specify paths to existing conda environments
    // Leave as is if you'd like to create a new conda environment
    conda_genelab  = null          // "/path/to/envs/genelab-utils"
    
    debug          = false // set to true if you'd like to see the parameters values printed to the terminal
}


params.baseDir = "${launchDir}"
parent_dir = "${launchDir.getParent()}"
// Setting the default container engine as singularity
params.containerEngine = "singularity"
// Conda shouldn't be used be default except when using conda-based profiles
// i.e., slurm_conda and conda
params.use_conda = false

// scripts direcdory
params.bin_dir = "${projectDir}/bin"

/***************************************************************************************
********************************  Workflow Profiles ************************************
****************************************************************************************/
profiles {
    slurm {
         process.executor     = 'slurm' 
     }

    conda {   
        conda.enabled          = true
        params.use_conda       = true
        conda.channels         = 'conda-forge,bioconda' 
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'              
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        conda.channels         = 'conda-forge,bioconda'
        params.use_conda       = true
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true

        /* Uncomment the line below  if you'd like to set the cache directory here,
         as setting it here takes precedence over setting the nextflow variable
        NXF_SINGULARITY_CACHEDIR=singularity/ in your run script
         */
        //singularity.cacheDir   = "singularity/" // local singularity images location
        params.containerEngine = "singularity"
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        params.containerEngine = "docker"
    }
}

// Maximum number of jobs to submit in parallel
executor.queueSize = 20

/************************************************************************************
*********** Tune process specific resources (cpu, container, memory etc.) ***********
*************************************************************************************/
process {
    //******************* Default process settings ************************//
    errorStrategy = "ignore"
    cpus = 2
    memory = '5 GB'
    cache = 'lenient'
    conda = {params.conda_genelab ? params.conda_genelab : "${projectDir}/envs/genelab.yaml"}
    container = "quay.io/nasa_genelab/genelab-utils:1.3.39"
    publishDir = [path: params.output_dir, mode: params.publishDir_mode]


    // Mount Parent directory for processes that copy files
    withName: "PACKAGE_PROCESSING_INFO" {

        containerOptions = { params.containerEngine == "singularity" ? "-B ${parent_dir}" : "-v ${parent_dir}:${parent_dir}" }
    }
}


/******************************************************************************
**************************** Workflow Metadata ********************************
*******************************************************************************/
manifest {
    author = 'Olabiyi Aderemi Obayomi'
    homePage = 'https://github.com/olabiyi/GeneLab_Metagenomics_Workflow/tree/DEV'
    description = 'Metagenomics post-processing workflow'
    mainScript = 'post_processing.nf'
    defaultBranch = 'main'
    nextflowVersion = '24.10.5-0'
    version = '1.0.0'
}
